/* 1. Use a more-intuitive box-sizing model */

:root{
  --bg: #121212;
  --blak: #121212;
  --feat: #FF3E00;
  --white: #ffffff;
}


*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: 'Cabin', sans-serif;
  background-color: var(--bg);
  color: #ffffff;

}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


a{
  display:inline-block;
  text-decoration: none;
  
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

h1,h2,h3{
  font-family: 'Roboto Condensed Variable', sans-serif;
  line-height: 1.2;
}

h1{
  font-size: calc(36 / 16 * 1rem);

}

.wrap{
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  color: #ffffff;
  border: 1px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  transition: 250ms;
}

.btn:hover{
  background-color: #fff;
  color: #121212;
  transition: 125ms;
}